.fl {
  display: flex;
}
.ptop-5 {
  padding-top: 5px;
}
.pt-20 {
  padding-top: 20px;
}
.w-90 {
  width: 90px;
}
.w-300 {
  width: 300px;
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
