.fl {
  display: flex;
}
.ptop-5 {
  padding-top: 5px;
}
.pt-20 {
  padding-top: 20px;
}
.pl-20 {
  padding-left: 20%;
}
.w-90 {
  width: 90px;
}
.w-300 {
  width: 300px;
}
.talign-right {
  text-align: right;
}
.talign-left {
  text-align: left;
}
.talign-center {
  text-align: center;
}
.nav-link {
  color: black;
}
a.nav-link:hover {
  background-color: aquamarine;
}
.mleft-80 {
  margin-left: 80px;
}
.ml-20 {
  margin-left: 20%;
}
.dnone {
  display: none;
}
.bar {
  background-color: darkslateblue;
}
fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
  font-size: 1em !important;
  font-weight: bold !important;
  text-align: left !important;
  border: none;
  width: 140px;
}
